body{
    height: 1090px;
    background: linear-gradient(to bottom, #5c93c1, #ebebeb)no-repeat;
}
#content{
    width: 80%;
    margin: 0 auto;
    height: 1000px;
    background-color: #e0e0e0;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#content:after, .main-footer{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #393e4b;
    clear: both;

}
#master-block{
    width: 320px;
    height: 100%;
    border-right: solid 3px #d6d6d6;
    background-color: white;
    float: left;
}
.card-block{
    height: 140px;
    width: 100%;
    border-bottom: solid 0.5px #9d9d9d;
}
.card-block:nth-child(1){
    border-top: none ;
}
.header-title{
    position: relative;
    text-align: center;
    margin-top: 2px;
    color: #9d9d9d;
}
#scroll{
    position: relative;
    overflow-y: scroll;
    height: 880px;
    width: 99%;
    scrollbar-arrow: none;

    padding-top: 40px;
}
input[type="search"]{
    width: 75%;
    margin: 0.5%;
    height: 30px;
    font-style: italic;
    display: inline-block;
    border: none;
}
.search-form{
    border: solid 0.5px #d1d1d1;
    background-color: white;margin-left: 2px;
}
#scroll-header{
    position: relative;
    width: 100%;
    height: 10%;
    background-color: white;
    border-bottom: solid 0.5px grey;
    font-size: 1.1em;
    margin-bottom: 0;
}
.button {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    position: relative;
    top: 5px;
    left: 2%;
    margin-right: 10px;
    background-image: url('../img/search-icon-png-18.png');
}
.prev-page-button{
    float: left;
    margin-top: 8px;

}
#central-block{
    width: 100%;
    height: 100%;
    background-color: white;
}
#central-heat{
    width: 100%;
    height: 370px;
    background-color: rgba(7, 63, 255, 0.1);
    border-bottom: solid 3px rgba(65, 144, 200,0.2);
    margin-bottom: 20px;
}
#order-span{
    height: 10%;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    color: grey;
    font-size: 1em;
    border-bottom: solid 2px rgba(65, 144, 200,0.2);;
}
#shipping-address-text{
    font-size: 1.8em;
    margin: 50px;
}
#central-middle {
    margin-top: 7px;
    margin-left: 23%;
    border-top: solid 2px #d6d6d6;
    width: 75%;
    height: 150px;
    padding-top: 50px;
}
#table{
    width: 100%;
    height: 35%;
    border-top: solid 2px #d6d6d6;;
}
.product-table {
    position: relative;
     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
     font-size: 14px;
     background: white;
     width: 60%;
     min-width: 50%;
     max-width: 75%;
     margin-left: 370px;
     margin-right: 5px;
     border-collapse: collapse;
     text-align: left;
     height: 100px;
     overflow: scroll;
 }
.product-table th {
    font-weight: normal;
    background-color: rgba(135, 172, 204, 0.2);
    border-bottom: 2px solid #b1b1cb;
    border-top: 2px solid #6678b1;
    padding: 5px 8px;
}
.product-table td {
    border-bottom: 1px solid #ccc;
    padding: 9px 8px;
    transition: .3s linear;
}
.central-middle-text{
    margin: 2px;
    color: grey;
    font-size: 1.1em;

}
#line-item{
    font-size: 1.3em;
    color: grey;
    margin: 10px;
    margin-left: 30%;
}
#order-number{
    font-size: 1.7em;
    margin: 50px;
    margin-left: 7%;
    margin-bottom: 10px;
    display: inline-block;
    }
#order-price{
    position: absolute;
    font-size: 1.9em;
    right: 250px;
    top: 100px;
}
#order-currency {
    position: absolute;
    right: 250px;

}
#customer-name-before{
    margin-left: 0%;
}
#ordered-date-before{
  margin-left: 0%;
}
#shippeed-date-before{
    margin-left: 0%;
  }
.order-data{
    font-size: 1.2em;
    margin-left: 30%;
    margin-bottom: 10px;
}
#shipper-name-before{

    margin-left: 30%;
}
#shipper-address-city-before{
    margin-left: 30%;
}
#shipper-address-street-before{

    margin-left: 30%;
}
#shipper-region-before{

    margin-left: 30%;
}
#shipper-country-before{

    margin-left: 30%;
}
#truck-icon{
    position: relative;
    left: 12px;
    top: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
#user-icon{
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.circle-icon{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 30px;
    margin-left: 50px;
    border: solid 0.6px;
    margin-top: 50px;
}
.card-order-number{
    margin: 5px;
    font-size: 1.4em;
    display: inline-block;
}
.card-order-date{
    margin-left: 55px;
    display: inline-block;
    font-size: 1.7em;
}
.card-order-status{
    margin-left: 220px;
    color: green;
}
.card-order-shipper{
    margin-left: 5px;
}
.card-order-shipped{
    margin-left: 5px;
}
#card-order-shipped:before{
    content: 'Shipped: ';
}
.mail-image {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    z-index: 1000;
    margin-left: 85%;
}
.sort-image{
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1000;
    top: -40px;
    left: 90%;
    margin-right: 10px;
}
.filter-image{
    width: 30px;
    height: 30px;
    position: relative;
    top: -40px;
    left: 95%;
    z-index: 1000;
}
.scroll-footer{
    position: relative;
    width: 320px;
    height: 60px;
    border-right: solid 3px #d2d2d2;

}